* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0 0 33);
    color: white;
    font-family: poppins, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(0 0 50);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    
}
nav ul li a:hover {
    color: rgb(186, 134, 236);
    transition: 0.3s;
}
.left {
    font-size: 1.5rem;
}
.left a {
    color: white;
    text-decoration: none;
}
.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}
.firstsection > div {
    width: 40%;

}
.rightsection img {
    width: 500px;
    
}
.leftsection {
    font-size: 3rem;
    margin: 50px 0;
    align-items: center;
}
.purple {
    color: rgb(186, 134, 236);
}